@import "variables";
@import "responsive-mixin";
@import "fluid-typography";
@import "poly-fluid-sizing";
@import "~bootstrap/scss/bootstrap";

$min_width: 320px;
$max_width: 1400px;
$min_font: 16px;
$max_font: 24px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.here {
  border: 1px dashed red;

  &1 {
    border: 1px dashed blue;
  }
}

.btn-violet {
  background-color: #aa4190;
}

.btn-play {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: 5px;
  }
}

body {
  * {
    font-family: "Assistant", sans-serif;
  }
}

.hero {
  position: relative;
  min-height: 500px;
  background: rgba(41, 127, 202, 0.4);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("/assets/img/hero.jpg") center/cover no-repeat;
    z-index: -1;
  }
  .navbar {
    @include poly-fluid-sizing(
      "padding-left",
      (
        375px: 20px,
        1024px: 45px,
        1400px: 75px,
        1920px: 105px
      )
    );
    @include poly-fluid-sizing(
      "padding-right",
      (
        375px: 20px,
        1024px: 45px,
        1400px: 75px,
        1920px: 105px
      )
    );
    @include poly-fluid-sizing(
      "padding-top",
      (
        375px: 28px,
        1024px: 30px,
        1400px: 36px,
        1920px: 45px
      )
    );
    @include poly-fluid-sizing(
      "padding-bottom",
      (
        375px: 28px,
        1024px: 30px,
        1400px: 36px,
        1920px: 45px
      )
    );
    align-items: center;

    .btn-sign-in {
      @include poly-fluid-sizing(
        "margin-left",
        (
          768px: 10px,
          1024px: 30px,
          1400px: 40px
        )
      );

      @include breakpoint(sm-max) {
        margin-left: 0;
      }
    }

    .btn-violet {
      font-size: 0.67rem;
      line-height: 1;
      font-style: normal;
      font-weight: bold !important;
      text-align: center;
      color: #ffffff;

      @include breakpoint(mobile) {
        padding: 9px 17px;
      }

      @include breakpoint(lg) {
        padding: 0.55rem 1.65rem !important;
      }
    }

    .navbar-toggler {
      border: none;

      @include breakpoint(mobile) {
        padding: 0;
      }

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
      }
    }

    .logo {
      height: 28px;

      @include breakpoint(mobile) {
        height: 18px;
        margin: 0;
      }
    }

    .navbar-brand {
      padding: 0;
      line-height: 1;

      @include breakpoint(mobile) {
        margin: 0;
      }
    }

    .nav-item {
      a.nav-link {
        font-size: 0.67rem;
        line-height: 0.79rem;
        text-align: center;
        color: #f2f2f2;
        font-weight: 300;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 4px;

        @include poly-fluid-sizing(
          "padding-left",
          (
            768px: 12px,
            1024px: 25px,
            1400px: 20px
          )
        );
        @include poly-fluid-sizing(
          "padding-right",
          (
            768px: 12px,
            1024px: 25px,
            1400px: 20px
          )
        );
      }
      &.btn-contact-us a.nav-link,
      &.btn-sign-in a.nav-link {
        color: #fff;
      }
    }
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: -1px;
    margin: 111px 10px 26px;
  }

  .demo-play {
    display: inline-flex;
    margin: auto;
    align-items: center;

    p {
      padding: 0;
      margin: 0 0 0 34px;
      font-size: 0.75rem;
      line-height: 1.08rem;
    }
  }
  .content {
    background-image: url("/assets/img/hero_ui_2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    @include breakpoint(md-max) {
      background-size: calc(100% - 50px) auto;
    }

    img {
      align-self: center;
      max-width: calc(100% - 30px);
      margin: 80px 0 -50px;

      @include breakpoint(md-max) {
        margin: 80px 0 -30px;
      }
      @include breakpoint(sm-max) {
        margin: 80px 0 -15px;
      }
    }
  }
}

.mission {
  background: #69afd3;
  padding-top: 180px;
  padding-bottom: 107px;
  @include poly-fluid-sizing(
    "padding-top",
    (
      375px: 66px,
      1024px: 101px,
      1400px: 180px
    )
  );
  @include poly-fluid-sizing(
    "padding-bottom",
    (
      375px: 72px,
      1024px: 76px,
      1400px: 107px
    )
  );

  svg {
    margin: auto;
    display: block;
  }

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.17rem;
    line-height: 2.42rem;
    text-align: center;
    letter-spacing: -1px;
    color: #ffffff;
    margin: 53px auto 39px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.08rem;
    line-height: 2rem;
    text-align: center;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0;

    @include poly-fluid-sizing(
      "padding-left",
      (
        600px: 29px,
        1024px: 200px,
        1400px: 270px
      )
    );
    @include poly-fluid-sizing(
      "padding-right",
      (
        600px: 29px,
        1024px: 200px,
        1400px: 270px
      )
    );
  }
}

.product {
  background: #ffffff;
  background-image: url("/assets/img/bg_tracking_section.svg");
  background-position: left 60px;
  background-repeat: no-repeat;
  @include poly-fluid-sizing(
    "padding-top",
    (
      375px: 45px,
      1024px: 57px,
      1400px: 67px
    )
  );
  @include poly-fluid-sizing(
    "padding-bottom",
    (
      375px: 20px,
      1024px: 57px,
      1400px: 69px
    )
  );

  @include breakpoint(lg-max) {
    background-image: url("/assets/img/bg_tracking_section_2.svg");
  }

  & > h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.17rem;
    line-height: 2.42rem;
    text-align: center;
    letter-spacing: -1px;
    color: #42505c;
    margin: 0 0 35px 0;
  }

  & > p {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
    color: #42505c;
    mix-blend-mode: normal;
    opacity: 0.8;
    @include poly-fluid-sizing(
      "padding-left",
      (
        600px: 29px,
        1024px: 195px,
        1400px: 313px
      )
    );
    @include poly-fluid-sizing(
      "padding-right",
      (
        600px: 29px,
        1024px: 195px,
        1400px: 313px
      )
    );
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    padding-top: 95px;
    margin: 0;

    .col {
      padding: 0;
    }

    & > div {
      @include breakpoint(md-max) {
        flex-basis: 100%;
      }
    }

    &-item {
      flex-basis: 50%;
      @include poly-fluid-sizing(
        "padding-left",
        (
          375px: 20px,
          1024px: 23px,
          1400px: 90px
        )
      );
      @include poly-fluid-sizing(
        "padding-right",
        (
          375px: 20px,
          1024px: 23px,
          1400px: 90px
        )
      );
      padding-bottom: 95px;

      @include breakpoint(md-max) {
        flex-basis: 100%;
      }

      &.tracking-section {
        padding-top: 25px;
      }

      &.positioning-section {
        background: url("/assets/img/bg_positioning_section.svg") right top/65%
          auto no-repeat;

        @include breakpoint(md) {
          padding-top: 170px;
        }
      }

      &.orders-section {
        background: url("/assets/img/bg_orders_section.svg") left 100%/75% auto
          no-repeat;

        @include breakpoint(lg-max) {
          background-image: url("/assets/img/bg_orders_section_2.svg");
          background-position: left bottom;
          background-size: 96% auto;
          background-repeat: no-repeat;
        }
        @include breakpoint(md) {
          padding-bottom: 150px;
        }
      }

      &.reports-section {
        background-image: url("http://localhost:8080/assets/img/bg_reports_section.svg");
        background-position: right bottom;
        background-size: contain;
        background-repeat: no-repeat;

        @include breakpoint(md) {
          padding-bottom: 0;
        }
      }

      img {
        width: 100%;
        margin-bottom: 55px;
        display: block;
        background: #fafafa;
        box-shadow: 0px 0px 40px rgba(66, 80, 92, 0.15);
        border-radius: 20px;
        border-top: 26px solid #fafafa;
        border-bottom: 26px solid #fafafa;
        border-left: 17px solid #fafafa;
        border-right: 17px solid #fafafa;

        @include breakpoint(md-max) {
          border: 12px solid #fafafa;
        }

        @include breakpoint(sm-max) {
          border: 10px solid #fafafa;
          border-radius: 8px;
        }
      }

      &-description {
        display: flex;

        p {
          font-family: Assistant;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.5rem;
          color: #42505c;
          mix-blend-mode: normal;
          opacity: 0.8;
        }

        svg {
          min-width: 100px;

          @include breakpoint(lg-max) {
            min-width: 80px;
          }
        }
      }
    }

    .left-side {
      .features-item {
        padding-left: 90px;
        padding-right: 45px;

        @include breakpoint(lg-max) {
          padding-left: 26px;
          padding-right: 32px;
        }
      }
    }
    .right-side {
      .features-item {
        padding-left: 45px;
        padding-right: 90px;

        @include breakpoint(lg-max) {
          padding-left: 32px;
          padding-right: 26px;
        }
      }
    }
  }
}

.presentation {
  height: 326px;
  background: url("/assets/img/presentation_bg.jpg") center/cover no-repeat;

  &-container {
    background: rgba(66, 80, 92, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      display: inline-block;
      border: 2px solid #ffffff;
      background: transparent;
      border-radius: 50%;
      height: 68px;
      width: 68px;
      padding: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color linear 0.1s;

      &:hover {
        background-color: #aa4190;
      }

      svg {
        margin-left: 5px;
      }
    }
  }
}

.whoweserve {
  padding: 102px 0 96px;

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.17rem;
    line-height: 1;
    text-align: center;
    letter-spacing: -1px;
    color: #42505c;
    margin-bottom: 100px;
  }
  &-items {
    display: flex;

    @include breakpoint(xs) {
      flex-wrap: wrap;
    }

    &-item {
      padding: 0 35px 0;

      @include poly-fluid-sizing(
        "padding-left",
        (
          600px: 20px,
          1024px: 35px,
          1400px: 60px
        )
      );

      @include poly-fluid-sizing(
        "padding-right",
        (
          600px: 20px,
          1024px: 35px,
          1400px: 60px
        )
      );

      img {
        @include poly-fluid-sizing(
          "height",
          (
            576px: 114px,
            1024px: 95px,
            1400px: 138px
          )
        );
        @include poly-fluid-sizing(
          "width",
          (
            576px: 114px,
            1024px: 95px,
            1400px: 138px
          )
        );
        border-radius: 50%;
        display: block;
        margin: 40px auto 40px;
      }
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 0.83rem;
        line-height: 1.2;
        text-align: center;
        letter-spacing: -0.5px;
        color: #42505c;
      }
      p {
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #42505c;
        mix-blend-mode: normal;
        opacity: 0.8;
        font-size: 18px;
        line-height: 30px;

        @include breakpoint(md-max) {
          font-size: 16px;
          line-height: 26px;
        }
      }

      &.hr {
        background: url("/assets/img/whoweserve/hr.svg") left top no-repeat;
        @include poly-fluid-sizing(
          "background-position-x",
          (
            767px: 20px,
            1024px: 55px,
            1400px: 110px
          )
        );

        @include breakpoint(xs) {
          background-position-x: 33%;
        }
      }
      &.community {
        background: url("/assets/img/whoweserve/community.svg") left top
          no-repeat;
        @include poly-fluid-sizing(
          "background-position-x",
          (
            767px: 20px,
            1024px: 55px,
            1400px: 110px
          )
        );

        @include breakpoint(xs) {
          background-position-x: 33%;
        }
      }
      &.leaders {
        background: url("/assets/img/whoweserve/leaders.svg") left top no-repeat;
        @include poly-fluid-sizing(
          "background-position-x",
          (
            767px: 20px,
            1024px: 55px,
            1400px: 110px
          )
        );

        @include breakpoint(xs) {
          background-position-x: 33%;
        }
      }
    }
  }
}

.testimonials {
  background-color: #69afd3;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI4NTIiIHZpZXdCb3g9IjAgMCAxNDQwIDg1MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSItMjYiIHdpZHRoPSIxNDg4IiBoZWlnaHQ9IjY2MiIgZmlsbD0iIzY5QUZEMyIvPjxyZWN0IG9wYWNpdHk9IjAuMSIgeD0iMTY5My40NSIgeT0iODA3LjEiIHdpZHRoPSI3MjYuNjk5IiBoZWlnaHQ9IjM5OC4xNjkiIHJ4PSIzMCIgdHJhbnNmb3JtPSJyb3RhdGUoLTE0My41MzggMTY5My40NSA4MDcuMSkiIGZpbGw9IndoaXRlIi8+PHJlY3Qgb3BhY2l0eT0iMC4xIiB4PSIyNzQuODQ4IiB5PSIzODUuMjc1IiB3aWR0aD0iNjg2Ljk0NSIgaGVpZ2h0PSIzNzYuMzg4IiByeD0iMzAiIHRyYW5zZm9ybT0icm90YXRlKDEzNy4yMjQgMjc0Ljg0OCAzODUuMjc1KSIgZmlsbD0id2hpdGUiLz48L3N2Zz4=);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-right: 20px;
  @include poly-fluid-sizing(
    "background-position-y",
    (
      576px: 151px,
      1024px: 87px,
      1400px: 7px
    )
  );
  @include poly-fluid-sizing(
    "padding-top",
    (
      375px: 63px,
      1024px: 76px,
      1400px: 100px
    )
  );
  @include poly-fluid-sizing(
    "padding-bottom",
    (
      375px: 63px,
      1024px: 30px,
      1400px: 76px
    )
  );

  @include breakpoint(sm-max) {
    background-size: 110%;
  }
  @include breakpoint(mobile) {
    background-position-y: 50px;
  }

  & > h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.17rem;
    line-height: 2.42rem;
    text-align: center;
    letter-spacing: -1px;
    color: #ffffff;
    margin-top: 0;
    @include poly-fluid-sizing(
      "margin-bottom",
      (
        375px: 35px,
        1024px: 51px,
        1400px: 74px
      )
    );
  }

  .carousel-item {
    @include poly-fluid-sizing(
      "padding-left",
      (
        375px: 10px,
        1024px: 250px,
        1400px: 0px
      )
    );
    @include poly-fluid-sizing(
      "padding-right",
      (
        375px: 10px,
        1024px: 250px,
        1400px: 0px
      )
    );

    img {
      @include poly-fluid-sizing(
        "height",
        (
          375px: 110px,
          1024px: 79px,
          1400px: 110px
        )
      );
      @include poly-fluid-sizing(
        "width",
        (
          375px: 110px,
          1024px: 79px,
          1400px: 110px
        )
      );

      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;

      @include poly-fluid-sizing(
        "margin-bottom",
        (
          375px: 61px,
          1024px: 31px,
          1400px: 44px
        )
      );
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 0.8rem;
      line-height: 1.25rem;
      text-align: center;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.8;
      margin-bottom: 25px;
    }
    .client-name {
      display: block;
      font-style: normal;
      font-weight: 600;
      font-size: 0.83rem;
      line-height: 1.25rem;
      text-align: center;
      color: #ffffff;
      margin-bottom: 5px;
    }
    .client-company {
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 0.67rem;
      line-height: 1.05rem;
      text-align: center;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.8;
      margin-bottom: 70px;
    }
  }
  .carousel-indicators {
    margin-bottom: 0;

    li {
      background-color: #ffffff;
      opacity: 0.5;
      width: 11px;
      height: 11px;
      border-radius: 50%;

      &.active {
        opacity: 1;
      }
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;

    @include poly-fluid-sizing(
      "width",
      (
        767px: 20px,
        1024px: 60px,
        1400px: 100px
      )
    );

    span {
      transform: translateY(-50%);
      top: 50%;
      position: absolute;

      @include breakpoint(mobile) {
        top: 16%;
      }
    }
  }

  .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iNDQiIHZpZXdCb3g9IjAgMCAyNCA0NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjIgMkwyIDIyTDIyIDQyIiBzdHJva2U9IndoaXRlIiBzdHJva2Utb3BhY2l0eT0iMC42IiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJiZXZlbCIvPjwvc3ZnPg==);
    background-size: contain;
  }
  .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iNDQiIHZpZXdCb3g9IjAgMCAyNCA0NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMiAyTDIyIDIyTDIgNDIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1vcGFjaXR5PSIwLjYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49ImJldmVsIi8+PC9zdmc+);
    background-size: contain;
  }
}

.our-history {
  @include poly-fluid-sizing(
    "padding-top",
    (
      767px: 37px,
      1024px: 53px,
      1400px: 100px
    )
  );
  @include poly-fluid-sizing(
    "padding-bottom",
    (
      767px: 37px,
      1024px: 53px,
      1400px: 100px
    )
  );

  @include poly-fluid-sizing(
    "padding-left",
    (
      767px: 20px,
      1024px: 125px,
      1400px: 158px
    )
  );
  @include poly-fluid-sizing(
    "padding-right",
    (
      767px: 20px,
      1024px: 125px,
      1400px: 158px
    )
  );
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMyIiBoZWlnaHQ9Ijc1OSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCBvcGFjaXR5PSIuMSIgeD0iNTc3Ljg4MyIgeT0iNzU4LjAwOCIgd2lkdGg9IjcyNi42OTkiIGhlaWdodD0iMzk4LjE2OSIgcng9IjMwIiB0cmFuc2Zvcm09InJvdGF0ZSgtMTQyLjU0NiA1NzcuODgzIDc1OC4wMDgpIiBmaWxsPSIjNjlBRkQzIi8+PC9zdmc+)
    no-repeat;
  background-position-x: right;
  @include poly-fluid-sizing(
    "background-position-y",
    (
      1024px: 65px,
      1400px: 110px
    )
  );

  @include breakpoint(xs) {
    background: none;
  }

  & > h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.17rem;
    line-height: 2.42rem;
    text-align: center;
    letter-spacing: -1px;
    color: #42505c;
    margin-bottom: 65px;
  }

  &-container {
    display: flex;

    @include breakpoint(xs) {
      flex-wrap: wrap;
    }

    figure {
      @include breakpoint(xs) {
        margin-left: auto;
        margin-right: auto;
      }

      img {
        display: block;
        height: 168px;
        width: 168px;
        border-radius: 50%;
        margin: 0 20px 35px;
      }

      figcaption {
        font-style: normal;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.25rem;
        text-align: center;
        color: #42505c;
        mix-blend-mode: normal;
        opacity: 0.8;

        small {
          display: block;
          font-style: normal;
          font-weight: 300;
          font-size: 0.9rem;
          line-height: 0.8rem;
          color: #42505c;
          margin-top: 6px;

          b {
            font-weight: 700;
          }
        }
      }
    }

    &-story {
      @include breakpoint(sm) {
        padding-left: 94px;
      }
      @include breakpoint(md) {
        padding-left: 149px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 0.83rem;
        line-height: 1.5rem;
        color: #42505c;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 1rem;
      }
      button {
        font-style: normal;
        font-weight: bold;
        font-size: 0.83rem;
        line-height: 1;
        color: #aa4190;
        mix-blend-mode: normal;
        opacity: 0.8;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0;
        border: 0;
        background: transparent;

        &:hover {
          text-decoration: none;
        }

        svg {
          transition: all linear 0.1s;
        }
        svg.up {
          transform: matrix(1, 0, 0, -1, 0, 0);
        }
      }
      div.more {
        transition: all linear 0.1s;
        opacity: 1;
        height: auto;
        overflow: hidden;
      }
      div.more.hidden {
        opacity: 0;
        height: 0;
      }
    }
  }
}

.our-advisors {
  h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 1.83rem;
    line-height: 2.42rem;
    text-align: center;
    letter-spacing: -2px;
    color: #42505c;
    @include poly-fluid-sizing(
      "margin-bottom",
      (
        767px: 50px,
        1024px: 59px,
        1400px: 85px
      )
    );
  }

  &-items {
    display: flex;
    @include poly-fluid-sizing(
      "padding-left",
      (
        768px: 58px,
        1400px: 40px
      )
    );
    @include poly-fluid-sizing(
      "padding-right",
      (
        768px: 58px,
        1400px: 40px
      )
    );

    @include breakpoint(xs) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-item {
      @include poly-fluid-sizing(
        "padding-left",
        (
          768px: 0px,
          1024px: 55px,
          1400px: 115px
        )
      );
      @include poly-fluid-sizing(
        "padding-right",
        (
          768px: 0px,
          1024px: 55px,
          1400px: 115px
        )
      );

      @include breakpoint(xs) {
        margin-bottom: 35px;
      }

      img {
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        @include poly-fluid-sizing(
          "height",
          (
            767px: 96px,
            1024px: 99px,
            1400px: 138px
          )
        );
        @include poly-fluid-sizing(
          "width",
          (
            767px: 96px,
            1024px: 99px,
            1400px: 138px
          )
        );
        @include poly-fluid-sizing(
          "margin-bottom",
          (
            767px: 18px,
            1024px: 38px,
            1400px: 45px
          )
        );
      }
      h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 0.83rem;
        line-height: 1;
        text-align: center;
        color: #42505c;
        margin-bottom: 10px;
      }
      span {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 0.83rem;
        line-height: 1;
        text-align: center;
        color: #42505c;
        margin-bottom: 30px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #42505c;
        mix-blend-mode: normal;
        opacity: 0.8;
        font-size: 18px;
        line-height: 30px;

        @include breakpoint(md-max) {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
}

.contact-us {
  background: url("/assets/img/contact-us/bg_contact_us_panels.png")
      center/cover no-repeat,
    linear-gradient(
      180deg,
      #fff 20.65%,
      rgba(255, 255, 255, 0.65) 58.11%,
      #fff 97.22%
    ),
    url("/assets/img/contact-us/mockps.jpg") center/cover no-repeat;
  @include poly-fluid-sizing(
    "padding-top",
    (
      767px: 20px,
      1024px: 41px,
      1400px: 56px
    )
  );
  @include poly-fluid-sizing(
    "padding-bottom",
    (
      320px: 96px,
      1024px: 72px
    )
  );

  @include breakpoint(lg) {
    background: url("http://localhost:8080/assets/img/contact-us/bg_contact_us_panels.png")
        center -200px/100% auto no-repeat,
      linear-gradient(
        180deg,
        #fff 20.65%,
        rgba(255, 255, 255, 0.65) 58.11%,
        #fff 97.22%
      ),
      url("http://localhost:8080/assets/img/contact-us/mockps.jpg") center/cover
        no-repeat;
  }
  @include breakpoint(mobile) {
    background: url("http://localhost:8080/assets/img/contact-us/bg_contact_us_panels.png")
        center/cover no-repeat,
      linear-gradient(
        180deg,
        #fff 20.65%,
        rgba(255, 255, 255, 0.65) 91%,
        #fff 93.22%
      ),
      url("http://localhost:8080/assets/img/contact-us/mockps.jpg") center/cover
        no-repeat;
  }

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.67rem;
    line-height: 1;
    letter-spacing: -1px;
    color: #42505c;
    text-align: center;

    @include poly-fluid-sizing(
      "margin-bottom",
      (
        576px: 38px,
        1400px: 50px
      )
    );
  }
  &-description {
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.25re;
    text-align: center;
    color: #42505c;
    mix-blend-mode: normal;
    opacity: 0.8;

    @include poly-fluid-sizing(
      "padding-left",
      (
        767px: 38px,
        1024px: 230px,
        1400px: 400px
      )
    );
    @include poly-fluid-sizing(
      "padding-right",
      (
        767px: 38px,
        1024px: 230px,
        1400px: 400px
      )
    );
  }

  form {
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 4px;
    background: #fff;
    @include poly-fluid-sizing(
      "margin-left",
      (
        767px: 15px,
        1024px: 150px,
        1400px: 250px
      )
    );
    @include poly-fluid-sizing(
      "margin-right",
      (
        767px: 15px,
        1024px: 150px,
        1400px: 250px
      )
    );
    @include poly-fluid-sizing(
      "margin-top",
      (
        767px: 30px,
        1024px: 45px,
        1400px: 45px
      )
    );

    .input-wrap {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;

      @include breakpoint(mobile) {
        flex-wrap: wrap;
      }

      div {
        flex-basis: calc(50% - 8px);
        padding-right: 8px;

        @include breakpoint(mobile) {
          flex-basis: 100%;
          padding-right: 0;
        }
      }

      input {
        width: 100%;
        padding: 0.47rem 0.79rem;
        border: 1px solid #69afd3;
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 2.25;
        color: #42505c;
        display: block;

        @include breakpoint(md-max) {
          font-size: 14px;
          line-height: 1.65;
        }

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    textarea {
      padding: 0.47rem 0.79rem;
      border: 1px solid #69afd3;
      border-radius: 4px;
      flex-basis: calc(50% - 8px);
      font-weight: normal;
      font-size: 16px;
      line-height: 1.2;
      color: #42505c;
      flex-grow: 1;
      margin-left: 8px;
      resize: none;

      @include breakpoint(md-max) {
        font-size: 14px;
        line-height: 1.65;
      }

      @include breakpoint(mobile) {
        margin-top: 16px;
        flex-basis: 100%;
        margin-left: 0;
        min-height: 300px;
      }
    }

    button {
      font-style: normal;
      font-weight: bold;
      font-size: 0.58rem;
      line-height: 1;
      text-align: center;
      color: #ffffff;
      padding: 16px 19px;

      &:hover {
        color: #fff;
      }
    }

    foofter {
      display: flex;

      @include breakpoint(mobile) {
        flex-wrap: wrap;
      }

      button {
        flex-basis: 50%;

        @include breakpoint(mobile) {
          flex-basis: 100%;
        }
      }

      .checkbox {
        margin-left: 0.79rem;
        flex-basis: calc(50% - 8px);

        @include breakpoint(mobile) {
          margin-bottom: 54px;
          flex-basis: 100%;
        }
      }
    }
  }
  hr {
    border-top: 1px solid #69afd3;
    @include poly-fluid-sizing(
      "max-width",
      (
        320px: 306px,
        1400px: 940px
      )
    );
    @include poly-fluid-sizing(
      "margin-top",
      (
        320px: 96px,
        1024px: 72px
      )
    );
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

div.checkbox input {
  position: relative;
  display: block;
  padding-left: 1.25rem;

  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #42505c;
    mix-blend-mode: normal;
    opacity: 0.8;
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    line-height: 20px;
    vertical-align: text-top;
    width: 11px;
    height: 11px;
    background: white;
    border: 1px solid #69afd3;
    border-radius: 2px;
    margin-top: 5px;
  }

  // Box hover
  &:hover + label:before {
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #69afd3;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 1px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}
.page-footer {
  @include poly-fluid-sizing(
    "max-width",
    (
      320px: 306px,
      1400px: 940px
    )
  );
  margin: auto;

  &-content {
    display: flex;
    margin: 0 0 57px;
    justify-content: space-between;

    @include breakpoint(sm-max) {
      flex-direction: column;
    }

    svg {
      margin-right: 20px;

      @include breakpoint(sm-max) {
        order: 1;
        margin: auto;
      }
    }
    &-links {
      display: flex;
      align-items: center;

      @include breakpoint(sm-max) {
        flex-direction: column;
      }

      a:not(:last-child) {
        margin-right: 55px;

        @include breakpoint(md-max) {
          margin-right: 25px;
        }
        @include breakpoint(sm-max) {
          margin-right: 0;
        }
      }
      a {
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #42505c;
        margin-top: 6px;

        @include breakpoint(sm-max) {
          margin-bottom: 40px;
        }
      }
    }
  }
}

#videoModal {
  .modal-content {
    border: none;
    background: transparent;
    margin: auto;
  }
  iframe {
    display: block;
    margin: auto;
  }
}

.modal-backdrop.show {
  opacity: 0.8 !important;
}
