@import "variables";
@import "responsive-mixin";
@import "fluid-typography";
@import "poly-fluid-sizing";
@import "~bootstrap/scss/bootstrap";

$min_width: 320px;
$max_width: 1400px;
$min_font: 16px;
$max_font: 24px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.here {
  border: 1px dashed red;

  &1 {
    border: 1px dashed blue;
  }
}

.btn-violet {
  background-color: #aa4190;
}

.btn-play {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #ffffff;
}

body {
  * {
    font-family: "Assistant", sans-serif;
  }
}

.hero {
  position: relative;
  min-height: 500px;
  background: rgba(41, 127, 202, 0.4);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("/assets/img/hero.jpg") center/cover no-repeat;
    z-index: -1;
  }
  .navbar {
    padding: 36px 70px 30px;
    align-items: center;

    .logo {
      height: 28px;
    }

    .navbar-brand {
      padding: 3px 0;
    }

    .nav-item {
      a.nav-link {
        font-size: 0.67rem;
        line-height: 0.79rem;
        text-align: center;
        color: #f2f2f2;
        font-weight: 300;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: -1px;
    margin: 111px 10px 26px;
  }

  .demo-play {
    display: inline-flex;
    margin: auto;
    align-items: center;

    p {
      padding: 0;
      margin: 0 0 0 34px;
      font-size: 0.75rem;
      line-height: 1.08rem;
    }
  }
  .content {
    background-image: url("/assets/img/hero_ui_2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    @include breakpoint(md-max) {
      background-size: calc(100% - 50px) auto;
    }

    img {
      align-self: center;
      max-width: calc(100% - 30px);
      margin: 80px 0 -50px;

      @include breakpoint(md-max) {
        margin: 80px 0 -30px;
      }
      @include breakpoint(sm-max) {
        margin: 80px 0 -15px;
      }
    }
  }
}

.mission {
  background: #69afd3;
  padding-top: 180px;
  padding-bottom: 107px;

  svg {
    margin: auto;
    display: block;
  }

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.17rem;
    line-height: 2.42rem;
    text-align: center;
    letter-spacing: -1px;
    color: #ffffff;
    margin: 53px auto 39px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.08rem;
    line-height: 2rem;
    text-align: center;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 0;

    @include poly-fluid-sizing(
      "padding-left",
      (
        600px: 29px,
        1024px: 200px,
        1400px: 270px
      )
    );
    @include poly-fluid-sizing(
      "padding-right",
      (
        600px: 29px,
        1024px: 200px,
        1400px: 270px
      )
    );
  }
}

.product {
  background: #ffffff;
  padding: 67px 0 93px;
  background-image: url("/assets/img/bg_tracking_section.svg");
  background-position: left 60px;
  background-repeat: no-repeat;

  @include breakpoint(lg-max) {
    background-image: url("/assets/img/bg_tracking_section_2.svg");
  }

  & > h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.17rem;
    line-height: 2.42rem;
    text-align: center;
    letter-spacing: -1px;
    color: #42505c;
    margin: 0 0 35px 0;
  }

  & > p {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
    color: #42505c;
    mix-blend-mode: normal;
    opacity: 0.8;
    @include poly-fluid-sizing(
      "padding-left",
      (
        600px: 29px,
        1024px: 195px,
        1400px: 313px
      )
    );
    @include poly-fluid-sizing(
      "padding-right",
      (
        600px: 29px,
        1024px: 195px,
        1400px: 313px
      )
    );
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    padding: 95px 0 134px;
    margin: 0;

    .col {
      padding: 0;
    }

    & > div {
      @include breakpoint(md-max) {
        flex-basis: 100%;
      }
    }

    &-item {
      flex-basis: 50%;
      padding-left: 70px;
      padding-right: 70px;
      padding-bottom: 95px;

      @include breakpoint(md-max) {
        flex-basis: 100%;
      }

      &.tracking-section {
        padding-top: 25px;
      }

      &.positioning-section {
        background: url("/assets/img/bg_positioning_section.svg") right top/65%
          auto no-repeat;

        @include breakpoint(md) {
          padding-top: 170px;
        }
      }

      &.orders-section {
        background: url("/assets/img/bg_orders_section.svg") left 100%/75% auto
          no-repeat;

        @include breakpoint(lg-max) {
          background-image: url("/assets/img/bg_orders_section_2.svg");
          background-position: left 60%;
          background-size: 96% auto;
        }
        @include breakpoint(md) {
          padding-bottom: 137px;
        }
      }

      &.reports-section {
        background: url("http://localhost:8080/assets/img/bg_reports_section.svg")
          right center/75% auto no-repeat;

        @include breakpoint(lg-max) {
          background-position: 116% 67%;
        }

        @include breakpoint(md) {
          padding-top: 170px;
        }
        @include breakpoint(md) {
          padding-bottom: 137px;
        }
      }

      img {
        width: 100%;
        margin-bottom: 55px;
        display: block;
        background: #fafafa;
        box-shadow: 0px 0px 40px rgba(66, 80, 92, 0.15);
        border-radius: 20px;
        border-top: 26px solid #fafafa;
        border-bottom: 26px solid #fafafa;
        border-left: 17px solid #fafafa;
        border-right: 17px solid #fafafa;
      }

      &-description {
        display: flex;

        p {
          font-family: Assistant;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.5rem;
          color: #42505c;
          mix-blend-mode: normal;
          opacity: 0.8;
        }

        svg {
          min-width: 100px;

          @include breakpoint(lg-max) {
            min-width: 80px;
          }
        }
      }
    }

    .left-side {
      .features-item {
        padding-left: 90px;
        padding-right: 45px;

        @include breakpoint(lg-max) {
          padding-left: 26px;
          padding-right: 32px;
        }
      }
    }
    .right-side {
      .features-item {
        padding-left: 45px;
        padding-right: 90px;

        @include breakpoint(lg-max) {
          padding-left: 32px;
          padding-right: 26px;
        }
      }
    }
  }
}
