<section id="contact-us" class="contact-us">
  <h2>Contact us</h2>
  <p class="contact-us-description">
    We are seeking innovative district and school administrators to partner with
    us in improving their approach to financial management. Submit a form below
    or simply email
    <a href="mailto:hello@edstruments.com">hello@edstruments.com</a> to get in
    touch.
  </p>
  <form action="">
    <div class="input-wrap">
      <div>
        <input
          type="text"
          name="fullName"
          id="fullName"
          placeholder="Full Name"
        />
        <input type="email" name="email" id="email" placeholder="Email" />
        <input
          type="tel"
          name="phoneNumber"
          id="phoneNumber"
          placeholder="Phone number (optional)"
        />
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Title (optional)"
        />
        <input
          type="text"
          name="schoolDistrict"
          id="schoolDistrict"
          placeholder="Employer/School District (optional)"
        />
      </div>
      <textarea
        name="message"
        id="message"
        placeholder="Tell us what you'd like to know"
      ></textarea>
    </div>
    <foofter class="">
      <div class="checkbox">
        <input type="checkbox" name="requestDemo" id="requestDemo" />
        <label for="requestDemo">I'd like to request a demo</label>
      </div>
      <button class="btn btn-violet" type="submit">Submit contact form</button>
    </foofter>
  </form>
  <hr />
</section>
