<div class="contact-us">
  <h2>Contact us</h2>
  <p class="contact-us-description">
    We are seeking innovative district and school administrators to partner with
    us in improving their approach to financial management. Submit a form below
    or simply email hello@edstruments.com to get in touch.
  </p>
  <form action="">
    <div class="input-wrap">
      <div>
        <input type="text" name="fullName" id="fullName" />
        <input type="email" name="email" id="email" />
        <input type="tel" name="phoneNumber" id="phoneNumber" />
        <input type="text" name="title" id="title" />
        <input type="text" name="schoolDistrict" id="schoolDistrict" />
      </div>
      <textarea name="" id=""></textarea>
    </div>
    <foofter class="">
      <div class="checkbox">
        <input type="checkbox" name="requestDemo" id="requestDemo" />
        <label for="requestDemo">Request a demo</label>
      </div>
      <button class="btn btn-violet" type="submit">Submit contact form</button>
    </foofter>
  </form>
</div>
