<div class="our-advisors">
  <h2>Our advisors</h2>
  <div class="our-advisors-items">
    <div class="our-advisors-items-item">
      <img src="/assets/img/our-advisors/advisor_1.jpg" alt="Our Advisor" />
      <h3>Name Surname</h3>
      <span>Title</span>
      <p>I concluded that many administrators lacked the tools, training</p>
    </div>
    <div class="our-advisors-items-item">
      <img src="/assets/img/our-advisors/advisor_2.jpg" alt="Our Advisor" />
      <h3>Name Surname</h3>
      <span>Title</span>
      <p>I concluded that many administrators lacked the tools, training</p>
    </div>
    <div class="our-advisors-items-item">
      <img src="/assets/img/our-advisors/advisor_3.jpg" alt="Our Advisor" />
      <h3>Name Surname</h3>
      <span>Title</span>
      <p>I concluded that many administrators lacked the tools, training</p>
    </div>
  </div>
</div>
