<section class="our-history" id="our-history">
  <h2>Our story</h2>
  <div class="our-history-container">
    <figure>
      <img src="/assets/img/our-history/adita.jpg" alt="" />
      <figcaption>
        Aditya Kaddu
        <a href="https://www.linkedin.com/in/aditya-kaddu/"
          ><span class="icon linked-in"></span
        ></a>
        <small>Founder, <b>Ed</b>struments</small>
      </figcaption>
    </figure>
    <div class="our-history-container-story">
      <p>
        I founded Edstruments because I am passionate about increasing equity
        and outcomes for American students. As a former teacher and TFA alumnus,
        I saw firsthand that these goals are driven by strong administrators at
        both the school and district level.
        <br />
        <br />
        My learnings as a graduate student at Stanford and McKinsey consultant
        have further cemented my belief that effective resource management plays
        a critical role in the success of any organization.
      </p>

      <button class="show-more" onclick="toggleText();">
        Show more &nbsp;
        <svg
          width="15"
          height="8"
          viewBox="0 0 15 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.506 7.744L0.255332 1.51467C-0.0860014 1.152 -0.0860014 0.597333 0.255332 0.256C0.596665 -0.0853333 1.17267 -0.0853333 1.514 0.256L7.12467 5.86667L12.7353 0.256C13.098 -0.0853333 13.6527 -0.0853333 13.994 0.256C14.3353 0.597333 14.3353 1.152 13.994 1.51467L7.76467 7.744C7.402 8.08533 6.84733 8.08533 6.506 7.744Z"
            fill="#AA4190"
          />
        </svg>
      </button>

      <div class="more hidden">
        <p>
          While at Stanford, I conducted a research study in which I interviewed
          several principals, district finance leaders, and superintendents to
          understand the challenges related to school finance management.
        </p>
        <p>
          I concluded that many administrators lacked the tools, training, and
          processes needed to effectively manage and make decisions with their
          finances.
        </p>
        <p>
          We have collected design and feature input from over 25 admins in over
          10 states, leading to the launch of our platform.
        </p>
      </div>
    </div>
  </div>
</section>
