<!-- <button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#thanksModal"
>
  Launch demo modal
</button> -->

<div
  class="modal fade"
  id="thanksModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2 class="">Thanks!</h2>
        <p class="">We will contact you soon.</p>
        <button class="btn btn-violet text-white" data-dismiss="modal">
          Okay
        </button>
      </div>
    </div>
  </div>
</div>
