<div class="presentation">
  <div class="presentation-container">
    <button
      type="button"
      class=""
      data-toggle="modal"
      data-target="#videoModal"
    >
      <svg
        width="20"
        height="23"
        viewBox="0 0 20 23"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.8228 1.2395L18.3086 11.3349L0.822799 21.4304L0.8228 1.2395Z"
          fill="white"
          stroke="white"
        />
      </svg>
    </button>
  </div>
</div>
