<section class="whoweserve" id="whoweserve">
  <h2>Who we serve</h2>
  <div class="whoweserve-items">
    <div class="whoweserve-items-item hr">
      <img src="/assets/img/whoweserve/hr.jpg" alt="" />
      <h3>District Finance and HR Teams</h3>
      <p>
        View spend across schools and district cost centers at a glance,
        identify which budget owners to prioritize support time with, seamlessly
        run position control, purchasing, and transaction workflows.
      </p>
    </div>
    <div class="whoweserve-items-item community">
      <img src="/assets/img/whoweserve/community.jpg" alt="" />
      <h3>School Leaders</h3>
      <p>
        Own decision making with up-to-date and accurate budget data, delegate
        sub-budgets to key school staff, streamline purchase requisitions,
        teacher stipends, and school fee processing.
      </p>
    </div>
    <div class="whoweserve-items-item leaders">
      <img src="/assets/img/whoweserve/leaders.jpg" alt="" />
      <h3>School Boards and Community</h3>
      <p>
        Understand in intuitive visuals how your district is tracking towards
        financial goals, make sense of spending comparisons across schools, and
        align on short-term and long-term priorities.
      </p>
    </div>
  </div>
</section>
